<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583541227315-3p771r759svmuo51ef31dsllg60dve0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583541227315-3p771r759svmuo51ef31dsllg60dve0k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>583541227315-sh0phb4p48bvj7tqkm3j7d0udpitmf8k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4nosqEQ0J8Ghn6p4ZlyxOQokEq4eqmh8</string>
	<key>GCM_SENDER_ID</key>
	<string>583541227315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tyke.Encore</string>
	<key>PROJECT_ID</key>
	<string>encore-6a677</string>
	<key>STORAGE_BUCKET</key>
	<string>encore-6a677.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583541227315:ios:bfc885de46d9fc9c2b0846</string>
</dict>
</plist>